
@{
    ViewBag.Title = "ForgotPassword";

}

<section>
    <div class="container">
        <div class="main-agileits">
            <div class="form-w3agile">
                <h2>ForgotPassword</h2>

                @using (Html.BeginForm())
                {
                    <div class="form-horizontal">
                        <hr />
                        <div class="text-success">
                            @ViewBag.Message
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-pull-12">Email ID</label>
                            @Html.TextBox("EmailID", "", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-pull-8">
                                <input type="submit" value="Submit" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }
                </div>
</div>
</div>
</section>